<div class="col-md-4 form-component">
  <form [formGroup]="form" (ngSubmit)="save()">
    <fieldset formGroupName="user">
      <legend>User</legend>
      <div class="form-group">
        <label for="name">Name:</label>
        <input formControlName="name" class="form-control" type="text" name="name" id="name" value="" required>
      </div>
      <div class="alert alert-danger" *ngIf="form.get('user.name').touched && !form.get('user.name').valid">Name is required.</div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" class="form-control" type="email" name="email" id="email" value="" required validEmail>
      </div>
      <div class="alert alert-danger" *ngIf="form.get('user.email').touched && form.get('user.email').errors && form.get('user.email').errors.email">Enter valid email.</div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input formControlName="phone" class="form-control" type="text" name="phone" id="phone" value="">
      </div>
    </fieldset>
    <fieldset formGroupName="address">
      <legend>Address</legend>
      <div class="form-group">
        <label for="street">Street:</label>
        <input formControlName="street" class="form-control" type="text" name="street" id="street" value="">
      </div>
      <div class="form-group">
        <label for="suite">Suite:</label>
        <input formControlName="suite" class="form-control" type="text" name="suite" id="suite" value="">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input formControlName="city" class="form-control" type="text" name="city" id="city" value="">
      </div>
      <div class="form-group">
        <label for="zipcode">ZipCode:</label>
        <input formControlName="zipcode" class="form-control" type="text" name="zipcode" id="zipcode" value="">
      </div>
    </fieldset>
    <button class="btn btn-info btn-submit" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</div>