<h1>Posts</h1>
<div class="row">
  <div class="col-md-6">
    <spinner [visible]="postsLoading"></spinner>
    <select #userId class="custom-select" (change)=filterPosts(userId.value)>
      <option selected value="">Select an user &hellip;</option>
      <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
    </select>
    <ul class="list-group">
      <li class="list-group-item post-title" *ngFor="let post of posts" (click)="selectPost(post)" [class.active]="selectedPost == post">{{post.title}}</li>
    </ul>
  </div>
  <div class="col-md-6" *ngIf="selectedPost">
    <div class="card">
      <div class="card-header h4">
        {{selectedPost.title}}
      </div>
      <div class="card-block">
        {{selectedPost.body}}
      </div>
      <div class="text-center">
        <spinner [visible]="commentsLoading"></spinner>
      </div>
      <div class="card-block" *ngFor="let comment of selectedPost.comments">
        <div class="media">
          <img class="d-flex mr-3 rounded" src="http://lorempixel.com/100/100/people?random=1" alt="Generic placeholder image">
          <div class="media-body">
            <h6 class="mt-0"><strong>{{comment.name}}</strong></h6>
            {{comment.body}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
