.post-title {
    cursor: pointer;
}

.post-title:hover {
    background-color: #18BC9C;
    border-color: transparent;
    color: white;
}

.post-title.active {
    background-color: #18BC9C;
    border-color: transparent;
}

.card-header {
    background-color: #18BC9C;
    color: white;
}

.rounded {
    border-radius: 50%;
}